<%- include('./header') %>
<body class="bg-light">
    <div class="container">
        <!-- card -->
        <div>
            <form action=""　class="bg-light">
                <h4 class="text-center mt-3 bg-secondary text-white">報告一覧</h4>
                <br>
                <div class="form-group">
                    <!-- ピル部分 -->
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">遅刻</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">欠席</a>
                        </li>
                    </ul>
                    
                    <!-- パネル部分 -->
                    <div class="tab-content" id="pills-tabContent">

                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            
                            <% for (var i = 0; i < tardy.length; i++) { %>
                                <div class="card row mx-auto" style="width: 100%;">
                                    <div class="card-body">
                                      <h5 class="card-title">name </h5>
                                      <h6 class="card-subtitle mb-2 text-muted">登校予定時間:<%= tardy.attendance_time %>時間目</h6>
                                      <p class="card-text"><%= tardy.report_detail %></p>
                                    </div>
                                </div>
                            <% } %>

                        </div>
                        
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            プロフィールの文章です。...
                        </div>
                        
                    </div>

                </div>
                
                
            </form>
                
        </div>
            
    </div>
</body>
<%- include('./footer') %>