<html>
<head>
<title><%= title %></title>
</head>
<body class="bg-light">
    <div class="container">
        <!-- card -->
        <div>
           
            <h4 class="text-center mt-3 bg-danger text-white"><%= error_h1_title %></h4>
            <p><%= message %></p>
            <br>
                
        </div>
            
    </div>
</body>
</html>