<%- include('./header') %>
<body>
    <div class="container">
        <div class="starter-template">
            <!-- <h1 id="heder1"><%= title %></h1> -->
            <form id="form">
                <div class="row justify-content-center mt-2">
                    <h3><%= textMain %></h3>
                </div>
                <div class="row justify-content-center mt-5">
                        <label>閉じるボタンで画面を閉じてください。</label>
                </div>
                <br>
                <div class="row justify-content-center">
                    <p><input type='button' id='closeButton' class="px-5 btn btn-success" value='閉じる'/></p>
                </div>
            </form>
        </div>
    </div>
</body>

  	<script>
		document.getElementById("closeButton").onclick = function() {
        // ここに#buttonをクリックしたら発生させる処理を記述する
            liff
            .init({
                liffId: '<%= LiffId %>'
            })
            .then(() => {
                liff.closeWindow();
            })
            .catch((err) => {
                document.getElementById("liffAppContent").classList.add('hidden');
                document.getElementById("liffInitErrorMessage").classList.remove('hidden');
            });
        };
        
        
	</script>
</html>